<div class="slider__slide">
    <div class="slider__slide-inner product-slide">
      <div class="product-slide__header">
        <div class="product-slide__label">
          <img src="assets/icn/add-ons-power-surge.svg" class="icon icon--md" />
          <span class="tag">Special Offer</span>
        </div>
        <h5 class="font-16">Power Surge - Extended (Contents)</h5>
      </div>
      <div class="product-slide__content">
        <div class="rte">
          <p>Increased cover for when you experience a power surge that damages your insured items</p>
        </div>
      </div>
      <div class="product-slide__tray">
        <div class="product-slide__tray-notes">
          <p>You insured a vehicle</p>
        </div>
        <div class="product-slide__tray-btn">
          <button class="button button--sm button--primary"><svg class="icon icon--sm">
              <use xlink:href="#plus"></use>
            </svg>Add</button>
        </div>
      </div>
    </div>
  </div>