<div class="policy-card policy-card--personal is-active"[ngClass]="data.status === 'cancelled' ? ' is-cancelled':''|| data.status === 'paused' ? 'is-paused':''" data-category="3" data-status="active" data-premium="1664.50">
    <div class="policy-card__content">

        <div class="policy-card__header">
            <div class="policy-card__company">


                <div class="policy-card__company-thumb">
                    <img src="assets/img/companies/1008.svg" class="img-fluid" />
                </div>
                <div class="policy-card__company-rating">

                    <div class="dropdown dropdown-hover">
                        <a href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            class="dropdown-toggle dropdown-toggle--nocaret d-none d-md-block">
                            <div class="stars">
                                <div class="stars__star">
                                    <svg class="icon">
                                        <use xlink:href="#star-inactive"></use>
                                    </svg>
                                    <div class="stars__percent stars__percent--100">
                                        <svg class="icon">
                                            <use xlink:href="#star-active"></use>
                                        </svg>
                                    </div>
                                </div>
                                <div class="stars__star">
                                    <svg class="icon">
                                        <use xlink:href="#star-inactive"></use>
                                    </svg>
                                    <div class="stars__percent stars__percent--100">
                                        <svg class="icon">
                                            <use xlink:href="#star-active"></use>
                                        </svg>
                                    </div>
                                </div>
                                <div class="stars__star">
                                    <svg class="icon">
                                        <use xlink:href="#star-inactive"></use>
                                    </svg>
                                    <div class="stars__percent stars__percent--100">
                                        <svg class="icon">
                                            <use xlink:href="#star-active"></use>
                                        </svg>
                                    </div>
                                </div>
                                <div class="stars__star">
                                    <svg class="icon">
                                        <use xlink:href="#star-inactive"></use>
                                    </svg>
                                    <div class="stars__percent stars__percent--50">
                                        <svg class="icon">
                                            <use xlink:href="#star-active"></use>
                                        </svg>
                                    </div>
                                </div>
                                <div class="stars__star">
                                    <svg class="icon">
                                        <use xlink:href="#star-inactive"></use>
                                    </svg>
                                    <div class="stars__percent">
                                        <svg class="icon">
                                            <use xlink:href="#star-active"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu--ratings">
                            <div class="ratings-info">

                                <div class="ratings-info__avatar">
                                    <img src="assets/3/avatar/happy-cropped.png" alt="" class="img-fluid">
                                </div>

                                <div class="ratings-info__content">

                                    <h5>How we calculate ratings</h5>
                                    <p>This rating is based on whether an insurer is good or not in the areas our
                                        customers care about. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    </p>

                                    <div>
                                        <dl class="ratings-info__item">
                                            <dt>
                                                <em>Paying claims</em><br>
                                                (based on Claims repudiated/rejected)
                                            </dt>
                                            <dd>
                                                <strong>6/10</strong>
                                            </dd>
                                        </dl>
                                        <dl class="ratings-info__item">
                                            <dt>
                                                <em>Solvency</em>
                                            </dt>
                                            <dd>
                                                <strong>7/10</strong>
                                            </dd>
                                        </dl>
                                        <dl class="ratings-info__item">
                                            <dt>
                                                <em>Customer Satisfaction Score</em>
                                            </dt>
                                            <dd>
                                                <strong>6/10</strong>
                                            </dd>
                                        </dl>
                                    </div>

                                    <div class="ratings-info__overall">
                                        <p><strong>Overall Rating</strong></p>

                                        <div class="stars">
                                            <div class="stars__star">
                                                <svg class="icon">
                                                    <use xlink:href="#star-inactive"></use>
                                                </svg>
                                                <div class="stars__percent stars__percent--100">
                                                    <svg class="icon">
                                                        <use xlink:href="#star-active"></use>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="stars__star">
                                                <svg class="icon">
                                                    <use xlink:href="#star-inactive"></use>
                                                </svg>
                                                <div class="stars__percent stars__percent--100">
                                                    <svg class="icon">
                                                        <use xlink:href="#star-active"></use>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="stars__star">
                                                <svg class="icon">
                                                    <use xlink:href="#star-inactive"></use>
                                                </svg>
                                                <div class="stars__percent stars__percent--100">
                                                    <svg class="icon">
                                                        <use xlink:href="#star-active"></use>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="stars__star">
                                                <svg class="icon">
                                                    <use xlink:href="#star-inactive"></use>
                                                </svg>
                                                <div class="stars__percent stars__percent--50">
                                                    <svg class="icon">
                                                        <use xlink:href="#star-active"></use>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="stars__star">
                                                <svg class="icon">
                                                    <use xlink:href="#star-inactive"></use>
                                                </svg>
                                                <div class="stars__percent">
                                                    <svg class="icon">
                                                        <use xlink:href="#star-active"></use>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="stars__label">3 Stars</div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <a href="#ratings-modal" class="stars d-md-none" data-toggle="modal">
                        <div class="stars__star">
                            <svg class="icon">
                                <use xlink:href="#star-inactive"></use>
                            </svg>
                            <div class="stars__percent stars__percent--100">
                                <svg class="icon">
                                    <use xlink:href="#star-active"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="stars__star">
                            <svg class="icon">
                                <use xlink:href="#star-inactive"></use>
                            </svg>
                            <div class="stars__percent stars__percent--100">
                                <svg class="icon">
                                    <use xlink:href="#star-active"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="stars__star">
                            <svg class="icon">
                                <use xlink:href="#star-inactive"></use>
                            </svg>
                            <div class="stars__percent stars__percent--100">
                                <svg class="icon">
                                    <use xlink:href="#star-active"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="stars__star">
                            <svg class="icon">
                                <use xlink:href="#star-inactive"></use>
                            </svg>
                            <div class="stars__percent stars__percent--50">
                                <svg class="icon">
                                    <use xlink:href="#star-active"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="stars__star">
                            <svg class="icon">
                                <use xlink:href="#star-inactive"></use>
                            </svg>
                            <div class="stars__percent">
                                <svg class="icon">
                                    <use xlink:href="#star-active"></use>
                                </svg>
                            </div>
                        </div>
                    </a>


                </div>

            </div>
            <div class="policy-card__price-mobile">
                <p><strong><em>{{data.monthlyPremium}}</em>.50</strong> /mo</p>
            </div>
        </div>
        <div class="policy-card__details">

            <div class="policy-card__titlewrap">
                <div class="policy-card__title">
                    <strong>Personal.Insure</strong>
                    <h4>{{data.personalInsure}}</h4>
                </div>
                <div class="policy-card__price">
                    <p><strong><em>R 1 664</em>.50</strong> /mo</p>
                </div>
            </div>
            <div class="policy-card__text" >
                <p> {{data.policyDetails}}</p>
            </div>


            <div class="policy-card__summary">
                <div class="policy-card__summary-inner collapse seemore__expander" id="personal-item-0-more">
                    <div class="policy-card__summary-items">
                        <ul class="summary-list list-unstyled">
                            <li>
                                <small>Policy No.</small>
                                <span>{{data.policyNo}}</span>
                            </li>
                            <li>
                                <small>Status</small>
                                <span [ngClass]="data.status === 'cancelled' ? ' tag-pill--inactive':''|| data.status === 'paused' ? ' tag-pill--paused':''"
                                    class="tag-pill tag-pill--active">{{data.status}}</span>
                            </li>
                            <li>
                                <small>Start Date</small>
                                <span>{{data.startDate}}</span>
                            </li>
                            <li>
                                <small>Renewal Date</small>
                                <span>{{data.renewalDate}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="policy-card__actions">

                    
                    <div class="policy-card__actions-btns"    *ngIf="cardStatus === 'cancelled'">
                        <a href="#" class="button button--professional button--md"><svg class="icon icon--sm"><use xlink:href="#restart-small"></use></svg> Restart</a>
                        <a href="#" class="button button--professional button--md"><svg class="icon icon--sm"><use xlink:href="#reinstate-small"></use></svg> Reinstate</a>
                        
                    </div>
                    <a  *ngIf="cardStatus === 'paused'" href="#" class="button button--personal button--md"><svg class="icon icon--sm"><use xlink:href="#play-circle"></use></svg> Resume</a>
                    
                    <div  *ngIf="cardStatus === 'active'" class="policy-card__actions-icns">
                        <a href="#" class="icon-hover icon-hover--flush" data-tooltip="tooltip" data-placement="top"
                            title="Cancel Policy"><svg class="icon">
                                <use xlink:href="#trash-bin"></use>
                            </svg></a>
                        <a href="#pause-alert-modal" data-toggle="modal" class="icon-hover icon-hover--flush"
                            data-tooltip="tooltip" data-placement="top" title="Pause Policy"><svg class="icon">
                                <use xlink:href="#pause"></use>
                            </svg></a>
                        <a href="#" class="icon-hover icon-hover--flush" data-tooltip="tooltip" data-placement="top"
                            title="Edit Policy"><svg class="icon">
                                <use xlink:href="#edit-underline"></use>
                            </svg></a>
                        <a href="#" class="icon-hover icon-hover--flush" data-tooltip="tooltip" data-placement="top"
                            title="File Claim"><svg class="icon">
                                <use xlink:href="#claims"></use>
                            </svg></a>
                    </div>
                </div>
            </div>

            <div class="policy-card__more-trigger">
                <a href="javascript:;" class="button-control seemore collapsed" data-toggle="collapse"
                    data-target="#personal-item-0-more" data-text-collapsed="Show more" data-text-expanded="Show less">
                    <svg class="icon icon--sm">
                        <use xlink:href="#plus"></use>
                    </svg><svg class="icon icon--sm">
                        <use xlink:href="#minus"></use>
                    </svg><strong>Show more</strong>
                </a>
            </div>

            <div *ngIf="cardStatus === 'paused'" class="policy-card__paused">
                <div class="paused-list">
                    <small>Paused Items</small>
                    <ul class="list-unstyled">
                        <li>
                            <a *ngFor="let item of pausedItems" href="#"
                                class="tag-pill tag-pill--lg tag-pill--paused">Snorkelling Equipment</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="policy-card__notice">
                <div class="notice" *ngIf="(cardStatus === 'paused' ||  cardStatus === 'active') && data.pausedItems.length === 0">
                    <div class="notice__content">
                        <svg class="icon">
                            <use xlink:href="#warning"></use>
                        </svg>
                        <p>Bongani, there are items that require further information to ensure you are covered.</p>
                    </div>
                    <a href="#" class="button button--primary button--md">Update Details</a>
                </div>
            </div>

            <div class="policy-card__actions-mobile">
                <a href="#" class="policy-card__actions-mobile-btn">
                    <svg class="icon">
                        <use xlink:href="#edit-underline"></use>
                    </svg><strong>Edit</strong>
                </a>
                <a href="#" class="policy-card__actions-mobile-btn">
                    <svg class="icon">
                        <use xlink:href="#claims"></use>
                    </svg><strong>Claim</strong>
                </a>
                <a href="#modal-policies-actions" class="dropdown-toggle dropdown-toggle--central dropdown-toggle--more"
                    data-toggle="modal">
                    <svg class="icon">
                        <use xlink:href="#more"></use>
                    </svg>
                </a>
            </div>


        </div>


    </div>
</div>