
          <nav class="central-nav">
            <ul class="central-nav__list list-unstyled">
              <li>
                <a href="#">
                  <svg class="icon">
                    <use xlink:href="#dashboard"></use>
                  </svg>
                  <span>Dashboard</span>
                </a>
              </li>
              <li class="is-active">
                <a href="#">
                  <svg class="icon">
                    <use xlink:href="#policies"></use>
                  </svg>
                  <span>Policies</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <svg class="icon">
                    <use xlink:href="#quotes"></use>
                  </svg>
                  <span>Quotes</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <svg class="icon">
                    <use xlink:href="#claims"></use>
                  </svg>
                  <span>Claims</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <svg class="icon">
                    <use xlink:href="#extra-services"></use>
                  </svg>
                  <span>Extra Services</span>
                </a>
              </li>
            </ul>
            <ul class="central-nav__list list-unstyled">
              <li>
                <a href="#">
                  <svg class="icon">
                    <use xlink:href="#profile"></use>
                  </svg>
                  <span>Profile</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <svg class="icon">
                    <use xlink:href="#chat"></use>
                  </svg>
                  <span>Support</span>
                </a>
              </li>
            </ul>
          </nav>
