<div class="modal-content modal-everything modal-everything--central">
    <div class="modal-everything__header">
        <div class="modal-everything__logo">
            <img id="logo" src="assets/0/logo.svg" alt="Everything.Insure">
        </div>

        <div class="modal-everything__nav">

            <a href="#" class="modal-everything__notify is-active">
                <svg class="icon">
                    <use xlink:href="#notifications"></use>
                </svg>
            </a>

            <button type="button" data-dismiss="modal" aria-label="Close" class="modal-everything__close">
                <svg class="icon">
                    <use xlink:href="#close-medium"></use>
                </svg>
            </button>
        </div>
    </div>
    <div class="modal-everything__content">
        <app-nav></app-nav>
    </div>
</div>