<div class="modal fade modal--fullscreen" id="ratings-modal" tabindex="-1" role="dialog"
    aria-labelledby="mobile-quote-menu" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-ratings__title">
          &nbsp;
          <button class="modal-ratings__close" data-dismiss="modal">
            <svg class="icon">
              <use xlink:href="#close-circle-small"></use>
            </svg>
          </button>
        </div>

        <div class="modal-ratings__content">
          <div class="container">

            <div class="ratings-info">
              <div class="ratings-info__content">

                <div class="ratings-info__company">
                  <div class="ratings-info__company-thumb">
                    <img src="assets/img/companies/1008.svg" class="img-fluid">
                  </div>
                  <div class="ratings-info__company-rating">
                    <div class="stars-compact">
                      <div class="stars-compact__star">
                        <svg class="icon">
                          <use xlink:href="#star"></use>
                        </svg>
                      </div>
                      <div class="stars-compact__num">3</div>
                    </div>
                  </div>
                </div>

                <h5>How we calculate ratings</h5>
                <p>This rating is based on whether an insurer is good or not in the areas our customers care about.
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>

                <div>
                  <dl class="ratings-info__item">
                    <dt>
                      <em>Paying claims</em><br>
                      (based on Claims repudiated/rejected)
                    </dt>
                    <dd>
                      <strong>6/10</strong>
                    </dd>
                  </dl>
                  <dl class="ratings-info__item">
                    <dt>
                      <em>Solvency</em>
                    </dt>
                    <dd>
                      <strong>7/10</strong>
                    </dd>
                  </dl>
                  <dl class="ratings-info__item">
                    <dt>
                      <em>Customer Satisfaction Score</em>
                    </dt>
                    <dd>
                      <strong>6/10</strong>
                    </dd>
                  </dl>
                </div>

                <div class="ratings-info__overall">
                  <p><strong>Overall Rating</strong></p>

                  <div class="stars">
                    <div class="stars__star">
                      <svg class="icon">
                        <use xlink:href="#star-inactive"></use>
                      </svg>
                      <div class="stars__percent stars__percent--100">
                        <svg class="icon">
                          <use xlink:href="#star-active"></use>
                        </svg>
                      </div>
                    </div>
                    <div class="stars__star">
                      <svg class="icon">
                        <use xlink:href="#star-inactive"></use>
                      </svg>
                      <div class="stars__percent stars__percent--100">
                        <svg class="icon">
                          <use xlink:href="#star-active"></use>
                        </svg>
                      </div>
                    </div>
                    <div class="stars__star">
                      <svg class="icon">
                        <use xlink:href="#star-inactive"></use>
                      </svg>
                      <div class="stars__percent stars__percent--100">
                        <svg class="icon">
                          <use xlink:href="#star-active"></use>
                        </svg>
                      </div>
                    </div>
                    <div class="stars__star">
                      <svg class="icon">
                        <use xlink:href="#star-inactive"></use>
                      </svg>
                      <div class="stars__percent stars__percent--50">
                        <svg class="icon">
                          <use xlink:href="#star-active"></use>
                        </svg>
                      </div>
                    </div>
                    <div class="stars__star">
                      <svg class="icon">
                        <use xlink:href="#star-inactive"></use>
                      </svg>
                      <div class="stars__percent">
                        <svg class="icon">
                          <use xlink:href="#star-active"></use>
                        </svg>
                      </div>
                    </div>
                    <div class="stars__label">3 Stars</div>
                  </div>

                </div>



              </div>
            </div>

          </div>
        </div>


      </div>
    </div>
  </div>